
body{
    background-color: rgb(185, 185, 185);
    text-align: center;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
}

#container{
    background-color: white;
    margin: 1% 10% 1% 10%;
    height: 99%;
    width: 80%;
    border: 2px solid black;
}




/**************/
/***Header****/
/*************/

h1{
    border-top: 2px solid brown;
    border-bottom: 2px solid brown;
    margin: 2% 1% 2% 1%;
    padding: 2%;
    font-weight: bold;
}


.Nomserie{
    font-size: 5em;
}

.Laserie{
    font-size: 2em;
    color: white;
    background-color: black;
    padding: 1%;
}

.logorouge{
    margin: 2% 0 2% 0;
    width: 25%;
}

/**************/
/*****MAIN****/
/*************/

main{
    background-color: rgb(235, 235, 235);
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    font-size: 3em;
    font-weight: bold;
    padding: 3% 0 3% 0;
}

h3{
    color:brown;
    font-size: 2em;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
}

.logonoir{
    width: 10%;
    padding-bottom: 2%;
}
.intro{
    border-bottom: 1px solid black;
    margin: 2%;
    padding-bottom: 2%;
    text-align: left;
}

.intro2{
    font-style: italic;
    font-size: 0.8em;
}

strong{
    font-weight: bold;
}

.parasyn{
    text-align: left;
    padding-bottom: 3%;
}

/**************/
/***FOOTER****/
/*************/


.parafooter{
    margin-top: 2%;
    padding: 2% 0 4% 0;
}

footer{
    background-color: rgb(236, 236, 236);
    margin-left: 5%;
    margin-right: 5%;
}